// Global styles

// @import "breakpoints";
// @import "css-variables";
// @import "base";
// @import "utilities";

@font-face {
  font-family: Baskerville;
  src: url(fonts/Libre.woff2);
}

@font-face {
  font-family: Francois;
  src: url(fonts/Francois.woff2);
}

@font-face {
  font-family: Ahamono;
  src: url(fonts/AHAMONO-Regular.woff2);
}


$white: #FFFFFF;
$red:#FF0000;
$pink: #FCE4E9;
$black: #000000;
$grey: #A7A7A7;

$headline: 60px;
$subtitle: 36px;
$large-body: 26px;
$body: 16px;
$captions: 13px;
$button: 12px;

.headline{
  font-size: $headline;
  font-family: Francois;
}

.subtitle{
  font-size: $subtitle;
  font-family: Francois;
  line-height: 1;
  font-weight: 100;
}

.large-body{
  font-size: $large-body;
  font-family: Baskerville;
}

.body{
  font-size: $body;
  font-family: Baskerville;
}

.captions{
  font-size: $captions;
  font-family: Ahamono;
}

.button{
  font-size: $button;
  font-family: Ahamono;
}

body{
  background-color: $pink;
  color: $red;
  font-family: Baskerville;
}

h1, h2{
  margin: 10px 0 0 0;
  padding: 0;
}


.grid{
  display: flex;
  flex-wrap: wrap;
  .post-item{
    width: 20vw;
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
    padding: 14px 0;
    img{
      width: 100%;
      height: auto;
      mix-blend-mode: luminosity;
    }
    .subtitle{
      padding-left: 20px;
    }
  }
}